style.css

font-face{
    font-family: "Raleway-VariableFont_wght.ttf";
    src:url(Raleway/Raleway-VariableFont_wght.ttf);}

body{   color: pink; 
        font-family: raleway;}
    
.logo{  float: left;
        width: 8em;
        height: auto;}

.flex-container{ display: flex;
                 flex-direction: row-reverse;}

.hebergement {color: #0065FC;
              font-size: 1em;
              text-align: right;
              margin-left: 5em;}

.activites{ color:black;
            font-size: 1em;
            text-align: right;
            margin-left: 5em;}

.sinscire { color:#0065FC;
            font-size: 1em;
            font-weight: bold;
            text-align: right;
            margin-left: 5em;
            margin-right: 5em;}

.titregras { font-weight: bold;
            color: black;
            font-size: 1.5em;}

.soustitre { font-style: normal;
             color: black;
             font-size: 1.1em;
             margin-top: -0.7em;}

.gpspoint{ width: 1em;
           height: auto;
           background-color: #F2F2F2;
           padding: 1em;
           border-bottom-left-radius: 1em;
           border-top-left-radius: 1em;
           vertical-align: middle;}

.marseillefrance{ color: black;
                  font-size: 1em;
                  font-weight: bold;
                  margin-left: -0.3em;
                  margin-right: -0.3em;
                  border: 0.1em solid;
                  border-color: #F2F2F2;
                  border-left: none;
                  border-right: none;
                  padding-top: 1em;
                  padding-bottom: 1em;
                  padding-right: 4em;
                  padding-left: 1em;
                  vertical-align: middle;}
    
.rechercher { color: white;
              font-size: 1em;
              font-weight: bold;
              background-color:#0065FC;
              padding: 1.1em;
              border-bottom-right-radius: 1em;
              border-top-right-radius: 1em;
              vertical-align: middle;}

.filtres{ color: black;
          font-size: 1em;
          font-weight: bold;
          margin-right: 1.5em;}

.billet{ width: 1em;
         height: auto;
         background-color:#DEEBFF;
         padding: 0.8em;
         border-radius: 3em;
         vertical-align: middle;}

.child{ width: auto;
        height: 1em;
        background-color:#DEEBFF;
        padding: 0.8em;
        border-radius: 3em;
        vertical-align: middle;}

.heart{ width: 1em;
        height: auto;
        background-color:#DEEBFF;
        padding: 0.8em;
        border-radius: 3em;
        vertical-align: middle;}

.dog{ width: 1em;
      height: auto;
      background-color:#DEEBFF;
      padding: 0.8em;
      border-radius: 3em;
      vertical-align: middle;}

.motlogo{color: black;
         font-size: 1em;
         font-weight: bold;
         border: 0.1em solid;
         border-left: none;
         padding: 0.5em;
         padding-left: 2em;
         border-color: #F2F2F2;
         border-top-right-radius: 2em;
         border-bottom-right-radius: 2em;
         margin-left: -1.5em;
         margin-right: 2em;
         vertical-align: middle;}

.info{  width: auto;
        height: 0.8em;
        border: 0.05em solid;
        border-color: #F2F2F2 ;
        padding: 0.3em;
        border-radius: 2em;
        margin-right: 0.5em;
        vertical-align: middle;}






/* balise block 1 + générale */

.block1{border-radius: 2em;
        background-color:#F2F2F2;
        padding: 2em; ;}


.titreblock{color: black;
             font-size: 1.5em;
             font-weight: bold;}
        
.photoblock1{width: 18em;
             height: 13em;
             border-top-left-radius: 1em;
             border-top-right-radius: 1em;}

.alignement{ display: flex;
             justify-content: space-around;}
   
.block1interieur{ border-radius: 2em;
                  background-color: white;
                  padding: 0.5em;
                  vertical-align: middle;}

.nomhebergement{ color: black;
                 font-size: 1.5em;
                 font-weight: bold;}

.nuitapartirde{ color: black;
                font-size: 1em;
                font-weight: lighter;}

.notebleu{ width: 1em;
           height: auto;}

.notegris{ width: 1em;
           height: auto;}






/* balise block 2*/

.deuxiemeblock{border-radius: 2em;
               background-color:#F2F2F2;
               padding: 2em;}

.pictotcroissance{ width: 2em;
                   height: 2em;
                   float: right;}

.photoblock2{width: 10em;
             height: 10em;
             border-top-left-radius: 2em;
             border-bottom-left-radius: 2em;
             float: left;
             clear: both;
             margin-right: 2em;
             vertical-align: middle;
            }

.block1interieur2{ border-radius: 2em;
                background-color: white;
                padding: 0.5em;
                padding-bottom: 1em;
                vertical-align: middle;}






/* balise block 3*/

.photoblock3portrait{width: auto;
                    height: 10em;
                    background-color: white;
                    padding-bottom: 2em;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                    border-bottom-left-radius: 1em;
                    border-bottom-right-radius: 1em;
                    box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;}


.photoblock3paysage{width: 10em;
                    height: auto;
                    background-color: white;
                    padding-bottom: 2em;
                    border-top-left-radius: 1em;
                    border-top-right-radius: 1em;
                    border-bottom-left-radius: 1em;
                    border-bottom-right-radius: 1em;
                    box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;}


.nomhebergementblock3{color: black;
                      font-size: 1em;
                      font-weight: bold;}






            
/* balise footer*/

footer{background-color:#F2F2F2;
       display: flex;
       justify-content: space-around;
       padding: 3em;}