style.css


/*Balises pour tous les formats */

font-face{font-family: "Raleway-VariableFont_wght.ttf";
          src:url(Raleway/Raleway-VariableFont_wght.ttf);}

          
    
body{color: pink; /*Rose sert à voir les erreurs */
     font-family: raleway;
     margin-left: 2em;
     margin-right: 2em;}

.titreblock{color: black;
        font-size: 1.5em;
        font-weight: bold;
        margin-left: 0.5em;}


/*---------------------->head */

#logo{float: left;
      width: 8em;
      height: auto;}

#hebergement{color: #0065FC;
             font-size: 1em;
             text-align: right;
             margin-left: 5em;
             text-decoration: overline;}

#activites{color:black;
           font-size: 1em;
           text-align: right;
           margin-left: 5em;}

#sinscire{color:#0065FC;
          font-size: 1em;
          font-weight: bold;
          text-align: right;
          margin-left: 5em;
          margin-right: 3em;}

.actionheader:hover{box-shadow: 0.2em 0.2em 0.2em #F2F2F2 ;
                    padding-top: 0.6em;
                    }

                    .flex-containertest{display: flex;
                        flex-direction: center;}

.titregras{font-weight: bold;
           color: black;
           font-size: 1.5em;
           margin-top: 3em;}

.soustitre{font-style: normal;
           color: black;
           font-size: 1.1em;
           margin-top: -0.7em;
           margin-bottom: 1em;}

/*---------------------->fin balise head */



/*---------------------->section Recherche & filtre */

.blocrecherche{margin-top: 2em;
               margin-bottom: 2em;}

#gpspoint{width: 1em;
          height: auto;
          background-color: #F2F2F2;
          padding: 1em;
          border-bottom-left-radius: 1em;
          border-top-left-radius: 1em;
          vertical-align: middle;}
       
#marseillefrance{ color: black;
                  font-size: 1em;
                  font-weight: bold;
                  margin-left: -0.3em;
                  margin-right: -0.3em;
                  border: 0.1em solid;
                  border-color: #F2F2F2;
                  border-left: none;
                  border-right: none;
                  padding: 1em;
                  vertical-align: middle;}

#filtres{ color: black;
          font-size: 1em;
          font-weight: bold;
          margin-right: 1.5em;}

#billet{ width: 1em;
         height: 1em;
         background-color:#DEEBFF;
         padding: 0.8em;
         border-radius: 50%;
         vertical-align: middle;}

#child{ width: 1em;
        height: 1em;
        background-color:#DEEBFF;
        padding: 0.8em;
        border-radius: 50%;
        vertical-align: middle;}

#heart{ width: 1em;
        height: 1em;
        background-color:#DEEBFF;
        padding: 0.8em;
        border-radius: 50%;
        vertical-align: middle;}

#dog{ width: 1em;
      height: 1em;
      background-color:#DEEBFF;
      padding: 0.8em;
      border-radius: 50%;
      vertical-align: middle;}

.motlogo{color: black;
         font-size: 1em;
         font-weight: bold;
         border: 0.1em solid;
         border-left: none;
         padding: 0.6em;
         padding-left: 2em;
       
         border-color: #F2F2F2;
         border-top-right-radius: 2em;
         border-bottom-right-radius: 2em;
         margin-left: -1.3em;
         margin-right: 1.5em;
         vertical-align: middle;}

.actionfiltre:hover{box-shadow: 0.2em 0.2em 0.2em #0065FC;
                    border-radius: 2em;
                    padding-top: 0.6em;
                    padding-bottom: 0.8em;}



a:hover{box-shadow: 0.2em 0.2em 0.2em#0065FC;
        border-radius: 2em;
        padding-top: 0.6em;
        padding-bottom: 0.8em;}

a:link{text-decoration:none;} 

#blocinfo{margin-top: 2em;
          margin-bottom: 2em;}

#info{  width: 1em;
        height: 1em;
        border: 0.05em solid;
        border-color: #F2F2F2 ;
        padding: 0.3em;
        border-radius: 50%;
        margin-right: 0.5em;
        vertical-align: middle;}
        
/*----------------------> fin balise section Recherche & filtre */



/*---------------------->balise block 1 */
   
.block1interieur{ border-radius: 2em;
                  background-color: white;
                  padding: 0.5em;
                  vertical-align: middle;
                  margin: 2em;}

.nomhebergement{ color: black;
                 font-size: 1em;
                 font-weight: bold;}

.nuitapartirde{ color: black;
                font-size: 0.7em;
                font-weight: lighter;}

.notebleu{ width: 1em;
           height: auto;}

.notegris{ width: 1em;
           height: auto;}

.actionblock1:hover{ box-shadow: 0.2em 0.2em 0.2em #0065FC;}

/*----------------------> fin balise balise block 1 */




/*---------------------->balise block 2*/

#pictotcroissance{ width: 2em;
                   height: 2em;
                   float: right;}

.block1interieur2{ border-radius: 2em;
                background-color: white;
                padding: 0.5em;
                vertical-align: middle;
        margin-top: 2em;}

/*----------------------> fin balise balise block 2 */




/*---------------------->balise block 3*/

.nomhebergementblock3{color: black;
                      font-size: 1em;
                      font-weight: bold;
                      margin-top: -2em;
                      margin-left: 1em;}

.actionblock3:hover{ box-shadow: 0.2em 0.2em 0.2em #0065FC;}

/*----------------------> fin balise balise block 3 */





            
/*---------------------->  balise footer*/

.titreblockfooter{color: black;
                  font-size: 1.5em;
                  font-weight: bold;}

.soustitrefooter{font-style: normal;
                 color: black;
                 font-size: 1.1em;
                 margin-bottom: 1em;}

/*----------------------> fin balise balise footer*/







/* Responsive design pour Desktop*/

@media only screen and (max-width : 1366px)
{}

/*---------------------->head */
.flex-container1{display: flex;
                 flex-direction: row-reverse;}
/*---------------------->fin balise head */



/*---------------------->section Recherche & filtre */
#rechercher { color: white;
        font-size: 1em;
        font-weight: bold;
        background-color:#0065FC;
        padding: 1.05em;
        border-bottom-right-radius: 1em;
        border-top-right-radius: 1em;
        vertical-align: middle;}

#loupe{ display: none;}
/*----------------------> fin balise section Recherche & filtre */



/*---------------------->Block 1 à coté du block 2 */
.flex-container{display: flex; 
                justify-content: space-around;} 
/*----------------------> fin balise Block 1 à coté du block 2 */



/*---------------------->balise block 1 */
#block1{border-radius: 2em;
        background-color:#F2F2F2;
        padding: 2em;
        margin-bottom: 2em;
        width: 60%;
        margin-left: -1em;}
       
.alignement{display: flex;
            justify-content: space-around;
         }
             
.photoblock1{width: 14em;
             height: 7em;
             border-top-left-radius: 1em;
             border-top-right-radius: 1em;
             object-fit: cover;}
/*----------------------> fin balise block 1 */



/**---------------------->balise block 2 */
#deuxiemeblock{border-radius: 2em;
        background-color:#F2F2F2;
        padding: 2em;
        width: 25%;
        margin-bottom: 2em;}

.photoblock2{width: 7em;
        height: 7em;
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        float: left;
        clear: both;
        margin-right: 2em;
        vertical-align: middle;
        object-fit: cover;}
/*----------------------> fin balise block 2 */



/*----------------------> balise block 3 */
.photoblock3portrait{width: 18em;
        height: 25em;
        background-color: white;
        padding-bottom: 2em;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;
        object-fit: cover;
        margin-top: 2em;}


.photoblock3paysage{width: 18em;
        height: 10.5em;
        background-color: white;
        padding-bottom: 2em;
        border-radius: 1em;
        box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;
        object-fit: cover;
        margin-top: 2em;}

.flex-container2{display: flex;
                 justify-content: space-between;}


.flex-container3{display: flex;
                 flex-direction: column;}



/*----------------------> fin balise block 3 */



/*---------------------->  balise footer*/
footer{background-color:#F2F2F2;
       margin-top: 3em;
       margin-left: -2em;
       margin-right: -2em;
       display: flex;
       justify-content: space-around;
       padding-top: 3em;
       text-align: left;}
 /*----------------------> fin balise balise footer*/












/* Responsive design pour mobile*/

@media only screen and(max-width : 600px)
{
          
.hebergement {text-align: right;
            margin-left: 5em;}

.activites{ text-align: right;
          margin-left: 5em;}

.sinscire {text-align: right;
          margin-left: 5em;
          margin-right: 5em;}

.loupe{ width: 1em;
        height: 1em;
        background-color:#0065FC;
        padding: 1.1em;
        border-radius: 1em;
        margin-left: -2em;
        vertical-align: middle;}

.rechercher {display: none;}


/*Block 1 à coté du block 2 */

.flex-container {flex-direction: column;} 



/* balise block 1 + générale */

.block1{background:none;}

.photoblock1{width: 27em;
             height: 10.5em;
             border-top-left-radius: 1em;
             border-top-right-radius: 1em;
             object-fit: cover;}

.alignement{ flex-direction: column;}
   
.block1interieur{ box-shadow: 0.2em 0.2em 0.3em 0.2em #f2f2f2 ;
                  width: 27em;}

                

/* balise block 2*/

.deuxiemeblock{border-radius: 0em;
        background-color:#F2F2F2;
        padding: 2em;
        width: 27em;
        margin-left: 0em;}


.photoblock2{width: 7em;
      height: 7em;
      border-top-left-radius: 2em;
      border-bottom-left-radius: 2em;
      float: left;
      clear: both;
      margin-right: 2em;
      vertical-align: middle;
      object-fit: cover;}

.block1interieur2{ border-radius: 2em;
         background-color: white;
         padding: 0.5em;
         vertical-align: middle;}

  
/* balise block 3*/

.photoblock3portrait{width: 27em;
                     height: 10.5em;
                     background-color: white;
                     padding-bottom: 2em;
                     border-radius: 1em;
                     box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;
                     object-fit: cover;
                     margin-top: 2em;}

.photoblock3paysage{width: 27em;
                    height: 10.5em;
                    background-color: white;
                    padding-bottom: 2em;
                    border-radius: 1em;
                    box-shadow: 0.2em 0.2em 0.3em #f2f2f2 ;
                    object-fit: cover;
                    margin-top: 2em;}

.flex-container2{flex-direction: column;}


.flex-container3{flex-direction: column;} 


/* balise footer*/
footer{flex-direction: column;}
}


/* Responsive design pour Tablette*/

@media all and (max-device-width : 1024px){   }